body {
  background: black;
  color: white;
  font-family: 'Roboto';
}

a {
  color: white;
}

/* NAV */
#right-nav {
  top: 0%;
  right: 0%;
  position: fixed;
  font-size: 200%;
  line-height: 200%;
  background: yellow;
  width: 25%;
  height: 100%;
  overflow-x: hidden;
}

/* Hamburger Menu */
#burger {
  height: 3vh;
  width: 3vh;
  top: 3vh;
  right: 3vh;
  position: fixed;
  z-index: 1;
}

.hamburger {
  border: 1px;
  border-color: white;
  height: 20%;
  background: white;
  -webkit-transition: all 1600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 1600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.eating > .line-1 {
  background: red;
  transform: translate(0, 200%) rotate(-45deg);
}

.eating > .line-2 {
  background: red;
  width: 0px;
}

.eating > .line-3 {
  background: red;
  transform: rotate(45deg);
}

.hungry > .line-2 {
  margin-top: 20%;
}

.hungry > .line-3 {
  margin-top: 20%;
}

/* Nav Menu */
#nav-menu {
  list-style: none;
  display: flex;
  padding: 5px;
  margin-top: 9vh;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#nav-menu a {
  color: black;
  text-decoration: none;
}

#nav-menu li {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
  margin-right: 3vh;
}

////////////////////////////////////

.terminal_container {
  background: rgba(100,100,100, 0.5);
  width: 50vw;
  height: 50vh;
  position: absolute;
  //top: 25vh;
  //right: 25vw;
  .terminal_top {
    background: yellow;
    height: 2.5vh;
    border-radius: 5px 5px 0 0;
    .circle {
      border-radius: 50%;
      background: black;
      width: 1.5vh;
      height: 1.5vh;
      display: inline-block;
      margin: 0.5vh 0vh 0.5vh 0.5vh;
    }
  }
  .terminal_body {
    input {
      background: inherit;
      border: none;
      color: white;
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}

/////////////////////////////////////////
.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 6vw;
    margin-left: 2vw;
    margin-top: 6vh;
    align-content: space-between;
    justify-content: space-between;
}
.card {
    height: 65vh;
    margin-bottom: 2vh;
    margin-right: 1vw;
    width: 25vw;
    border: white;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading {

    }
    .card-image {
      height: 12vh;
      margin-top: 3%;
    }
    .url-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 75%;
    }
    .git-url {

    }
    .url {
      font-weight: 900
    }
    .card-content {
      margin-right: 3%;
      margin-left: 3%;
      height: 50%;
      margin-top: 3%;
      overflow-y: scroll;
    }
    .card-tags {
      border-color: white;
      margin-top: 3%;
      border-style: dotted;
      width: 94%;
    }
    .related-blog-posts {
      margin-top: 3%;
    }
}

////////////////////////////////////
.categories-container {
  width: 10vw;
}
.posts-container {
  width: 80vw;
}

.mini-post {
  height: 20vh;
  .post-desc {
    font-size: 0.8vw;
    width: 64vw;
    height: 9vh;
    overflow-y: scroll;
    margin-bottom: 2vh;
  }
  .cat-tag-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
